@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-primary: #FF0000;
  --color-secondary: #00FF00;
  --color-text: #0000FF;
  --font-heading: Arial, sans-serif;
  --font-text: Georgia, serif;
}

@layer base {
  p, a {
    @apply font-text;
    color: var(--color-text);
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
    color: var(--color-text);
  }
}

